body {
    font-family: arial;
    font-size: 16px;
    margin:0;
    background-color:#76d7c4;
}

.title {
    text-align: center;
    padding: 16px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    max-width: 800px;
    margin: auto;

}

.pokemon {
    border: 1px solid #333;
    padding: 10px;
    background: #f5f5f5;
    text-align: center;

}

.vs {
    text-align: center;
    margin: auto;
    font-size: 32px;
}

img {
    width: 100%;
}

.button {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
background-color: #ff8f00;
}